
.MainLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    flex: 0 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
  }

  &__backIcon {
    margin-right: 12px;
  }

  &__body {
    flex: 1 0 auto;
    display: flex;
  }

  &__bodyContainer {
    width: 100%;
    background-color: #eee;
  }
}
