
.TodoList {
  position: relative;
  height: 100%;
  overflow-y: scroll;

  $root: &;

  &__item {
    margin: 16px 0;
  }

  &__add {
    #{$root} & {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
}
